body{
    background-color: powderblue;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    padding-left: 1cm;
}

.Container{
    background-color: antiquewhite;
    width: auto;
    border-radius: 15px;
}

.Application{
    padding-left: 150px;
    padding-right: 20%;
}

P{
    color: red;
}

input[type=text]{
    background-color: lightgreen;
    width: 500px;
    font-size: large;
}

input[type=password]{
    background-color: lightgreen;
    width: 500px;
    font-size: large;
}

input[type=email]{
    background-color: lightgreen;
    width: 500px;
    font-size: large;
}

textarea{
    background-color: lightgreen;
    width: 500px;
    height: 70px;
    font-size: large;
}

select{
    background-color: lightgreen;
    width: 500px;
}

#Create{
    background-color: lightgreen;
    font-size: large;
}

#Create:hover{
    background-color: darkgreen;
}