body{
    background-color: powderblue;
}

table {
    border: 3px solid red;
}

img{
    width: 200px;
    height: 100px;
}

h1{
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Tilt Prism', cursive;
}